@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Global variables */
:root {
  --primary: #12bdff;
  --primary-hover: #0c8ec2;
  --dark-primary: #1b1f24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  background-color: var(--dark-primary);
  padding: 25px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .logo {
  color: var(--primary);
  margin-right: 130px;
  font-weight: 600;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 30px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

header ul li a:hover {
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

/* Section: Home Page */
section.hero-section {
  background-color: var(--dark-primary);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 50px 120px 30px 200px;
}

.hero-section__title {
  font-size: 48px;
}

.hero-section__desc {
  color: #c4c4c4;
}

.hero-img img {
  border-radius: 15px;
}

.social-icons {
  margin: 18px 0;
}

ul.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li {
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 8px 12px;
}

.social-icons li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.social-icons li a > i.fa-facebook:hover {
  color: #1877f2;
  transition: all 0.3s ease 0s;
}

.social-icons li a > i.fa-linkedin:hover {
  color: #0072b1;
  transition: all 0.3s ease 0s;
}

.social-icons li a > i.fa-instagram:hover {
  color: #fede75;
  transition: all 0.3s ease 0s;
}

.social-icons li a > i.fa-twitter:hover {
  color: #00acee;
  transition: all 0.3s ease 0s;
}

.hero-buttons button {
  margin-right: 10px;
}

/* buttons */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--dark-primary);
  font-weight: 600;
}

.btn.btn-primary:hover {
  background-color: var(--primary-hover);
  transition: all 0.3s ease 0s;
}

.btn-dark-outlined {
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
  font-weight: 600;
}

.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  transition: all 0.3s ease 0s;
}
